<li class="js-list-item m-dnd-list__list-item" data-g-name="ListItem">

	<p class="m-dnd-list__list-item-text js-editable-text" contenteditable="true">{{title}}</p>

	<button class="m-dnd-list__remove-item-button js-set-item-cancelled">
		<img src="/src/assets/img/icon/remove.svg" alt="remove">
	</button>

	<button class="m-dnd-list__remove-item-button js-set-item-confirmed">
		<img src="/src/assets/img/icon/done.svg" alt="next">
	</button>

</li>