<div class="m-dnd-list" data-category={{category}} data-g-name="DnDList">
	<h2 class="m-dnd-list__headline">{{category}}</h2>
	<div class="m-dnd-list__list-wrapper">
		<ul class="js-items-list m-dnd-list__item-list"></ul>
		<input class="js-item-label-input" type="text">
		<button class="js-add-item-button">Add</button>
	</div>
</div>